build/
mesonbuild
static-analysis/
scan-build
.idea/
*.orig
address-sanitizer
undefined-behavior-sanitizer
sanitizers
*.swp
dummy
valgrind
molch.config
molch.files
molch.includes
molch.creator*
.browse.VC.db
.browse.VC.db-wal
.vscode
